@model List<BookModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bookish</h1>
    <table class="table">
        <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Available Copies</th>
        </tr>
    <p>@foreach (var book in Model)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Title</td>
            <td>@book.Author.Name</td>
            <td>3</td>
             <td>
                @Html.ActionLink(
                    linkText: "Details",
                    actionName: "BookView",
                    routeValues: new {id=book.Id}
                )
            </td>
            <td>
                @Html.ActionLink(
                    linkText: "Delete",
                    actionName: "DeleteBook",
                    routeValues: new {id=book.Id}
                ) 
            </td>
            
         </tr>     
    }
    </table>
</div>